script(src="../js/jquery.scrollify.js")
script(src="../js/jquery.fancybox.min.js")
script(src="../js/popper.min.js")
script(src="../js/bootstrap.min.js")
script(src="../slick/slick.min.js")
script(src="../js/app.min.js")
