head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Wanter

    link(href='./bower_components/normalize-css/normalize.css', rel='stylesheet')
    link(href='./bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='./bower_components/select2/dist/css/select2.min.css', rel='stylesheet')
    link(href='./bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    //- link(href='./css/styles.css', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,400,600,700&amp;subset=cyrillic', rel='stylesheet')
    link(href='./css/style.min.css', rel='stylesheet')