header
    .header-top
        .container
            .header-top__navbar.navbar.navbar-expand
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="") Как мы работаем?
                    li.nav-item
                        a.nav-link(href="") Связаться с нами
                    li.nav-item
                        a.nav-link(href="") Контактная информация  
                ul.navbar-nav.ml-auto
                    li.nav-item.dropdown
                        a#personalPage.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") mail@mail.ru
                        .dropdown-menu(aria-labelledby="personalPage")
                            a.dropdown-item(href="#") Моя страница 
                            a.dropdown-item(href="#") Мои заявки 
                            a.dropdown-item(href="#") Сообщения 
                            a.dropdown-item(href="#") Уведомления 
                            a.dropdown-item(href="#") Избранное 
                            .dropdown-divider
                            a.dropdown-item(href="#") Выход 
    .header-navbar
        .container
            nav.navbar.navbar-expand-lg
                a.navbar-brand(href="#")
                    img.navbar-brand__logo(src="../images/logoSVG.svg")
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.mr-auto
                        li.nav-item
                            a.nav-link(href="") Идеи и вдохновение
                        li.nav-item
                            a.nav-link.active(href="") Все заявки  
                        li.nav-item
                            a.nav-link(href="") Оригинальные заявки
                        li.nav-item
                            a.nav-link(href="") FAQ
                    a.btn.header-navbar__btn(href="#") Создать заявку