header.sticky-top
    .header-top
        .container.d-none.d-md-block
            .header-top__navbar.navbar.navbar-expand
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="") Как мы работаем?
                    li.nav-item
                        a.nav-link(href="") Связаться с нами
                    li.nav-item
                        a.nav-link(href="") Контактная информация  
                ul.navbar-nav.ml-auto
                    li.nav-item.dropdown
                        a#personalPage.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") mail@mail.ru
                        .dropdown-menu(aria-labelledby="personalPage")
                            a.dropdown-item(href="#") Моя страница 
                            a.dropdown-item(href="#") Мои заявки 
                            a.dropdown-item(href="#") Сообщения 
                            a.dropdown-item(href="#") Уведомления 
                            a.dropdown-item(href="#") Избранное 
                            .dropdown-divider
                            a.dropdown-item(href="#") Выход 
    .header-navbar
        .container
            nav.navbar.navbar-expand-lg
                a.navbar-brand(href="/")
                    img.navbar-brand__logo(src="../images/logoSVG.svg")
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="")
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false")
                        path(stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22")
                .collapse.navbar-collapse#navbarContent
                    ul.navbar-nav.ml-auto.mr-auto
                        li.nav-item
                            a.nav-link(href="/world.html") Идеи и вдохновение
                        li.nav-item
                            a.nav-link.active(href="/request.html") Все заявки  
                        li.nav-item
                            a.nav-link(href="/original.html") Оригинальные заявки
                        li.nav-itemhtml
                            a.nav-link(href="/faq.html") FAQ
                    a.btn.header-navbar__btn(href="#") Создать заявку