nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.navigation
            li.nav-item.active
                a.nav-link(href="#main") PLC 
            li.nav-item
                a.nav-link(href="#concert") Концерты 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="#music") Альбомы
            li.nav-item
                a.nav-link(href="#news") Новости