nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
        span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-center#navbarNav
        ul.navbar-nav.navigation
            li.nav-item.active
                a.nav-link(href="index.html#main") PLC | Восход
            li.nav-item
                a.nav-link(href="index.html#concert") Концерты 
            li.nav-item
                a.nav-link(href="index.html#music") Треки
            li.nav-item
                a.nav-link(href="index.html#photo") Фото
            li.nav-item
                a.nav-link(href="blog,html") Новости