//- UPDATE PREVIEW BLOCK
.col-md-6.panel.panel_preview
    .row
        .col-md-4
            img.panel__image.img-fluid(src="./images/cat2.jpg")
        .col-md-8
            .panel__info
                a.panel__info__title(href='#') Купить сувенирную тарелку
                p.panel__info__place Россия, Москва
            .panel__data Осталось: 
                span 23.01.2019
            .panel__offer Надо в Дмитрово в Спортмастере купить пуховик,который заказан через интернет. И отправить его в Череповец.У нас в регионе его...
            span.panel__price Цена 1000