//- UPDATE BLOCK WITH IMAGE
.col-md-6.col-xl-3.panel.panel_wanter
    .panel__user.row
        .col-lg-3
            img.panel__user__image(src='../images/male.png')
        .col-lg-9
            a.panel__user__name(href='#') Андрей П.
            .panel__user__rating
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating(aria-hidden='true')
                span рейтинг
    .panel__info
        p.panel__info__place Россия, Москва
        a.panel__info__title(href='#') Купить сувенирную тарелку
        .panel__data Осталось: 
                span 23.01.2019
        .panel__offer Надо в Дмитрово в Спортмастере купить пуховик,который заказан через интернет. И отправить его в Череповец.У нас в регионе его...
    .panel__footer.row
        .col-lg-6
            span.panel__price 1000
        .col-lg-6
            .panel__favorite
            i.fa.fa-heart(aria-hidden='true') в избранное
//- END UPDATE BLOCK WITH IMAGE