//- UPDATE BLOCK WITH IMAGE
.col-md-6.col-lg-4.col-xl-3.panel.panel_wanter
    .panel__user.row.align-items-center
        .col-lg-3
            img.panel__user__image(src='../images/female.png')
        .col-lg-9
            a.panel__user__name(href='#') Руслана К.
            .panel__user__rating
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating-active(aria-hidden='true')
                i.fa.fa-star.rating(aria-hidden='true')
                span.rating-title рейтинг
    .panel__info
        p.panel__info__place Россия, Москва
        a.panel__info__title(href='#') Купить сувенирную тарелку
        .panel__data Осталось: 
                span 23.01.2019
        .panel__offer Надо в Дмитрово в Спортмастере купить пуховик,который заказан через интернет. И отправить его в Череповец.У нас в регионе его...
    .panel__footer.row.align-items-center
        .col-lg-6
            span.panel__price Цена 670
        .col-lg-6
            .panel__favorite.panel__favorite--active
                i.panel__favorite__icon.fa.fa-heart(aria-hidden='true') 
//- END UPDATE BLOCK WITH IMAGE