//- UPDATE BLOG BLOCK
.col-sm-6.panel.panel_preview
    .row
        .col-md-5
            img.panel__image.img-fluid(src="./images/pexels-photo-2.jpeg")
            span.panel__label Необычные задумки
        .col-md-7
            .panel__info
                a.panel__info__title(href='#') Работайте с региональными архивами, не вставая из собственного кресла!
                p.panel__info__place Россия, Москва
            .panel__offer Для этого вам нужны добровольные и квалифицированные помощники, которых мы и поможем вам найти.