*.lock
/node_modules
.vscode
!/public/
!/public/css/
!/public/img/
!/public/js/
!/public/css/*.css
/public/*.html
/public/**/*.html
/public/css/style.css
/public/css/style.min.css
/public/js/app.js
/public/js/app.min.js 