body {
  font-family: 'Open Sans', sans-serif;
}

a {
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
  color: #0c0c0c;
}

a:hover, a:focus {
  color: #60ad31;
  outline: none;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 52px;
  height: 55px;
  padding: 0 35px;
}

.btn-primary {
  color: #fff;
  background: #60ad31;
  border-color: #60ad31;
}

.btn-primary:hover, .btn-primary:focus {
  background: #579d2c;
  border-color: #579d2c;
}

.header-top {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #393737;
  background: #eff7ea;
  height: 38px;
}

.header-top .navbar {
  padding: 10px 0;
}

.header-top .navbar-nav {
  margin-left: -10px;
  margin-right: -10px;
}

.header-top .navbar-nav .nav-link {
  padding: 0 10px;
  color: #393737;
}

.header-top .navbar-nav .nav-link#personalPage {
  font-weight: 700;
}

.header-top .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.header-top .dropdown-menu {
  top: 26px;
  left: auto;
  right: 8px;
  border-radius: 0;
  font-size: 12px;
}

.header-top .dropdown-toggle::after {
  vertical-align: middle;
}

.header-top .dropdown-item:focus, .header-top .dropdown-item:hover {
  background: #eff7ea;
}

.header-top .dropdown-item.active, .header-top .dropdown-item:active {
  background: #60ad31;
}

.header-navbar {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #ebebeb;
}

.header-navbar .navbar {
  padding: 30px 0;
}

.header-navbar .navbar-brand__logo {
  width: 150px;
}

.header-navbar .navbar-nav .nav-link {
  padding: 0 15px;
  color: #393737;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.header-navbar .navbar-nav .nav-link.active {
  font-weight: 700;
}

.header-navbar .navbar-nav .nav-link:hover {
  color: #60ad31;
}

.header-navbar__btn {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #fff;
  background: #60ad31;
  line-height: 32px;
  height: 35px;
  padding: 0 15px;
}

.header-navbar__btn:hover, .header-navbar__btn:focus {
  color: #fff;
  background: #55992b;
}

.filter {
  border-bottom: 1px solid #ebebeb;
  padding: 14px 0;
}

.filter__item {
  position: relative;
  font-size: 12px;
  line-height: 30px;
  color: #393737;
  padding: 0 12px;
  margin-right: 10px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
}

.filter__item:hover {
  background: #eff7ea;
}

.filter__item--active {
  color: #fff;
  background: #60ad31;
}

.filter__item--active:hover {
  background: #60ad31;
}

.filter__item__content {
  padding-left: 5px;
  text-transform: uppercase;
}

.filter__item__content:before {
  content: '-';
  padding-right: 5px;
}

.filter__offer {
  font-size: 12px;
}

.filter__offer a {
  color: #60ad31;
  text-decoration: underline;
}

.filter__offer a:hover {
  color: #3f7120;
}

.filter-dropdown {
  display: none;
  position: absolute;
  left: -1px;
  top: 100%;
  z-index: 99;
  padding: 20px;
  background: #fff;
  border: 1px solid #ebebeb;
  width: 280px;
}

.filter-dropdown--active {
  display: block;
}

.filter-dropdown .form-control {
  font-size: 12px;
  width: 100% !important;
}

.filter-dropdown .form-radio {
  display: block;
  width: 100%;
}

.filter-dropdown .form-radio + .form-radio {
  margin-top: 10px;
}

.filter-dropdown .form-radio + .filter-dropdown__link {
  margin-top: 0;
}

.filter-dropdown__link {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  float: right;
  color: #60ad31;
}

.select2 {
  font-size: 12px;
  width: 100% !important;
}

.select2 .select2-selection {
  border-color: #ebebeb;
}

.select2-container--default .select2-results__option {
  font-size: 12px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #60ad31;
}

.content {
  padding: 60px 0;
}

.content__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 60px;
}

.content__title_heading-1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
}

.content__title_heading-2 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 40px;
}

.content__info {
  border-radius: 50%;
  background: #ebebeb;
  color: #60ad31;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  width: 15px;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.content__offer {
  font-size: 14px;
  font-family: "Montserrat";
  color: #070a00;
  line-height: 1.8;
}

.content__offer + .content__offer {
  margin-top: 30px;
}

.content_slider {
  padding: 0;
}

.content_slider .owl-index__item {
  text-align: center;
  padding: 180px 0 220px;
  background: url("../images/slider.jpg") no-repeat center/cover;
}

.content_slider .owl-index__item__title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.content_slider .owl-index__item__offer {
  font-size: 14px;
  font-family: "Montserrat";
  color: #fff;
  line-height: 1.8;
  margin: 0 auto 50px;
  width: 900px;
  max-width: 100%;
}

.content_category {
  padding: 0;
}

.content_category__col {
  color: #fff;
}

.content_category__col:nth-child(1) {
  background: #60ad31;
}

.content_category__col:nth-child(1):hover {
  background: #5ca52f;
}

.content_category__col:nth-child(2) {
  background: #59a12e;
}

.content_category__col:nth-child(2):hover {
  background: #55992b;
}

.content_category__col:nth-child(3) {
  background: #53952a;
}

.content_category__col:nth-child(3):hover {
  background: #4e8d28;
}

.content_category__col:nth-child(4) {
  background: #4c8927;
}

.content_category__col:nth-child(4):hover {
  background: #488125;
}

.content_category__col > * {
  padding: 20px;
}

.content_category__col:hover, .content_category__col:focus {
  color: #fff;
}

.content_category__image {
  max-width: 100%;
  width: 50px;
  margin-right: 20px;
}

.content_category__content {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.content_maps {
  padding: 150px 0;
}

.content_tabs .content__title {
  display: block;
  padding: 0 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

.content_tabs .content__offer {
  margin: 0 auto 60px;
  text-align: center;
  width: 600px;
  max-width: 100%;
}

.content_tabs .nav_tabs-wanter {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
  margin-bottom: 60px;
}

.content_tabs .nav_tabs-wanter .nav-item {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.content_tabs .nav_tabs-wanter .nav-item:hover, .content_tabs .nav_tabs-wanter .nav-item:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.content_tabs .nav_tabs-wanter .nav-item .nav-link {
  font-size: 14px;
  font-weight: 700;
  padding: 2px 10px 3px;
  border-radius: 4px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.content_tabs .nav_tabs-wanter .nav-item .nav-link:hover, .content_tabs .nav_tabs-wanter .nav-item .nav-link:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.content_tabs .nav_tabs-wanter .nav-item .nav-link.active {
  color: #fff;
  background: #db3333;
}

.content_tabs .nav_tabs-wanter .sep {
  padding: 0 15px;
}

.content_alert {
  padding-bottom: 120px;
}

.content_alert__content {
  width: 1080px;
  max-width: 100%;
  padding: 40px 60px;
  margin: 0 auto;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #4a8526), to(#60ad31));
  background: -webkit-linear-gradient(left, #4a8526 0, #60ad31 100%);
  background: -o-linear-gradient(left, #4a8526 0, #60ad31 100%);
  background: linear-gradient(to right, #4a8526 0, #60ad31 100%);
}

.content_alert__content .content__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content_alert__content .content__offer {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0;
}

.content_alert__content .content__offer a {
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}

.content_request {
  padding-top: 100px;
  background: #eff7ea;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #e4f1db), to(#eff7ea));
  background: -webkit-linear-gradient(left, #e4f1db 0, #eff7ea 100%);
  background: -o-linear-gradient(left, #e4f1db 0, #eff7ea 100%);
  background: linear-gradient(to right, #e4f1db 0, #eff7ea 100%);
}

.content_statictic {
  background: #e4f1db;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #d3e9c5), color-stop(80%, #e4f1db));
  background: -webkit-linear-gradient(left, #d3e9c5 0, #e4f1db 80%);
  background: -o-linear-gradient(left, #d3e9c5 0, #e4f1db 80%);
  background: linear-gradient(to right, #d3e9c5 0, #e4f1db 80%);
}

.content_video {
  padding: 100px 0;
  font-family: "Montserrat", sans-serif;
}

.content_video__content {
  padding-left: 20px;
}

.content_video__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 40px;
}

.content_video p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.content_video p + p {
  margin-top: 20px;
}

.content_video p:last-child {
  margin-bottom: 0;
}

.panel {
  font-family: "Montserrat";
  margin-bottom: 40px;
}

.panel__heading {
  position: relative;
  height: 130px;
  background: url("../images/photo_02.jpg") no-repeat center/cover;
  margin-bottom: 10px;
}

.panel__heading .panel__price {
  position: absolute;
  top: 10px;
  right: 10px;
}

.panel__price {
  background: #db3333;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 6px;
  border-radius: 2px;
}

.panel__user {
  padding: 0 0 10px;
}

.panel__user__image {
  width: 60px;
  max-width: 100%;
}

.panel__user__name {
  font-size: 14px;
  font-weight: bold;
  color: #393737;
  margin-bottom: 5px;
}

.panel__user__rating {
  font-size: 12px;
}

.panel__user__rating .rating-active {
  color: #db3333;
}

.panel__user__rating .rating-title {
  padding: 0 10px;
}

.panel__info__place {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #939691;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.panel__info__title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #393737;
  margin-bottom: 15px;
}

.panel__info__title:hover {
  color: #60ad31;
}

.panel__data {
  font-size: 10px;
}

.panel__data span {
  font-weight: 700;
}

.panel__offer {
  margin: 15px 0;
  font-size: 14px;
}

.panel__favorite {
  text-align: right;
  cursor: pointer;
}

.panel__favorite__icon {
  text-align: center;
  border-radius: 4px;
  background-color: #ebebeb;
  font-size: 12px;
  line-height: 28px;
  width: 28px;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.panel__favorite:hover .panel__favorite__icon {
  color: #db3333;
  background-color: #dedede;
}

.panel__favorite--active .fa {
  color: #db3333;
}

.form-radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.form-radio input:checked + .form-radio__title:after {
  opacity: 1;
}

.form-radio input:focus + .form-radio__title:before {
  opacity: 0.5;
}

.form-radio__title {
  position: relative;
  padding: 0 0 0 30px;
  font-size: 12px;
  cursor: pointer;
}

.form-radio__title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  background: #eff7ea;
}

.form-radio__title:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #60ad31;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.step-block {
  position: relative;
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
}

.step-block__number {
  color: #eff7ea;
  font-size: 200px;
  font-weight: 700;
  line-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.step-block__content {
  position: relative;
  z-index: 11;
  padding-left: 170px;
}

.step-block__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.step-block__offer {
  font-size: 14px;
  line-height: 22px;
}

.footer {
  border-top: 1px solid #a5a5a5;
}

.footer .navbar-brand__logo {
  width: 150px;
}

.footer .copyright {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__contact {
  margin-bottom: 20px;
}

.footer__contact a {
  color: #60ad31;
  font-weight: 700;
}

.footer__pay {
  height: 20px;
  width: auto;
  max-width: 100%;
  margin: 0 10px;
}

.footer__pay_mastercard {
  height: 32px;
}

.footer__label {
  text-transform: uppercase;
  margin-top: 4px;
}

.footer__nav {
  padding-left: 14px;
  font-size: 14px;
}

.footer__nav li + li {
  margin-top: 5px;
}
