html(lang="ru", dir="ltr")
    include chunks/head.pug
    body
        script(src="./js/jquery-3.3.1.min.js")
        include chunks/header_inside.pug

        section.blog.blog_inside
            .container
                .blog__title.h1.oswald.text-uppercase.mb-5 Hовости
                .row.align-items-center
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") СВОБОДА x PLC - УСКОРИТЬСЯ
                            span.blog__news_subtitle Премьера клипа
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") PLC - «НАВЫЛЕТ»
                            span.blog__news_subtitle Премьера песни
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") Краснодар
                            span.blog__news_subtitle 28 декабря 19:00 | Sgt. pepper's
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") Санкт-Петербург
                            span.blog__news_subtitle 18 декабря 21:30 | Sgt. pepper's
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") PLC - «НАВЫЛЕТ»
                            span.blog__news_subtitle Премьера песни
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") Краснодар
                            span.blog__news_subtitle 28 декабря 19:00 | Sgt. pepper's
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") СВОБОДА x PLC - УСКОРИТЬСЯ
                            span.blog__news_subtitle Премьера клипа
                    .col-md-6.col-lg-3
                        a.blog__news(href="text.html") Санкт-Петербург
                            span.blog__news_subtitle 18 декабря 21:30 | Sgt. pepper's
            .container.pt-5.pb-5
                .row
                    .col-lg-12
                        script(type="text/javascript" src="https://vk.com/js/api/openapi.js?160")
                        #vk_groups
        include chunks/footer.pug