html(lang='ru', dir='ltr')
    include chunks/head.pug
    body
        script(src='./js/jquery.min.js')
        include chunks/header.pug
        .content.content_sm
            .container
                ul.breadcrumb
                    li.breadcrumb__item
                        a(href="/") Главная
                    li.breadcrumb__item.breadcrumb__item_last
                        span FAQ
                h1.content__title.text-bold.mb-0 Популярные вопросы (FAQ)
                    span.content__info(data-toggle="tooltip" data-placement="right" title="Подсказка-информер") ?
        .filter
            .container
                .row.align-items-center
                    .col
                        .filter__row.d-flex.flex-row.flex-wrap.nav(id="faqTab" role="tablist")
                            .filter__item.active(href="#account" data-toggle="tab" role="tab")
                                span.filter__item__title Аккаунт пользователя
                            .filter__item(href="#rating" data-toggle="tab" role="tab")
                                span.filter__item__title Рейтинг
                            .filter__item(href="#request" data-toggle="tab" role="tab")
                                span.filter__item__title Заявка
                            .filter__item(href="#performer" data-toggle="tab" role="tab")
                                span.filter__item__title Информация для исполнителя
                            .filter__item(href="#customer" data-toggle="tab" role="tab")
                                span.filter__item__title Информация для заказчика
                            .filter__item(href="#pay" data-toggle="tab" role="tab")
                                span.filter__item__title Оплата
                            .filter__item(href="#question" data-toggle="tab" role="tab")
                                span.filter__item__title Спорные ситуации
                            .filter__item(href="#contact" data-toggle="tab" role="tab")
                                span.filter__item__title Связь с администрацией ресурса
        .content
            .container
                .tab-content
                    #account.tab-pane.active(role="tabpanel")
                        .row
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-3 Как отредактировать содержимое аккаунта
                                .content__offer В верхнем меню сайта нажмите кнопку с вашим логином (e-mail), в выпадающем меню выберите пункт «Моя страница». Практически в центре экрана под местом для фотографии расположена кнопка «Редактировать». После её нажатия открывается форма, где вы можете загрузить фотографию профиля, изменить имя, дату рождения, телефон, город. Поставив галочку в соответствующем поле можете подписаться на получение уведомлений на почту. Для фиксации внесённых изменений нажмите кнопку «Сохранить».
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-3 Как восстановить пароль
                                .content__offer Для восстановления пароля под полем для его ввода предусмотрена фраза: «Если вы забыли пароль, вы можете восстановить его». Нажмите на ссылку и в открывшемся поле заполните ваш е-mail (логин), на него будет отправлена ссылка для восстановления пароля. При переходе по ссылке из письма сайт попросит ввести новый пароль и сохранить.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-3 Как войти в свой аккаунт
                                .content__offer В верхнем меню сайта нажмите кнопку «Вход». В открывшуюся форму введите E-mail (логин) и пароль, нажмите кнопку «Вход».
                    #rating.tab-pane(role="tabpanel")
                        .row
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-3 Как формируется рейтинг исполнителя или заказчика
                                .content__offer Рейтинг формируется на основании оценок заказчиков и (или) исполнителей с которыми вы сотрудничали. Возможность поставить оценку, оставить отзыв появляется у заказчика и исполнителя после подтверждения заказчиком исполнения заявки.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-3 Для чего нужен рейтинг
                                .content__offer Рейтинг облегчает выбор исполнителя / заказчика. Мало кто захочет сотрудничать с лицом, у которого рейтинг 1 из 5. Чем выше рейтинг, тем больше шансов заключить сделку. Следовательно, каждая заявка влияет на вашу репутацию и требует честного, открытого и порядочного сотрудничества.
                    #request.tab-pane(role="tabpanel")
                        .row
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как обсудить условия заявки
                                .content__offer Открываем заявку нажатием ссылки &laquo;Читать полностью&raquo;. Под условиями заявки есть раздел &laquo;Обсуждение заявки&raquo;. Через него вы можете задавать вопросы заказчику, обсуждать с ним условия заявки.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как искать заявку
                                .content__offer В верхнем меню сайта нажмите кнопку &laquo;Заявки&raquo;. Откроется страница со всеми заявками, размещёнными на сайте. Для поиска подходящих вам заявок используйте&nbsp;фильтры по следующим критериям: Страна, регион, место выполнения заявки, статус (заявки), тип (заявки). Интересные заявки можно добавлять в избранное, нажатием на кнопку &laquo;Добавить в избранное&raquo;.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Что делать если я обнаружил (-а) заявку, нарушающую условия использования сервиса
                                .content__offer На каждой странице с заявкой справа, под информацией о заявке есть ссылка &laquo;Пожаловаться на заявку&raquo;. После нажатия на неё откроется форма для описания сути нарушений. Каждую жалобу рассматривает администрация сайта и принимает решение в соответствии с условиями пользовательского соглашения.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как откликнуться на заявку
                                .content__offer Откликнуться можно на заявки в статусе &laquo;Опубликована&raquo;. В правой части информации о заявке есть кнопка &laquo;Стать исполнителем&raquo;. После нажатия на неё появится форма для ввода цены заявки, за которую вы готовы её исполнить. Пожалуйста, обратите внимание: ниже поля ввода цены указана сумма, с учётом всех комиссий, которую Вы получите после исполнения заявки. Перед нажатием кнопки &laquo;Отправить&raquo; необходимо поставить галочку в подтверждение согласия стать исполнителем данной заявки на условиях, указанных в данной форме.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как исполнителю изменить условия заявки или отменить заявку
                                .content__offer Изменить условия заявки можно до момента выбора заказчиком исполнителя (статус заявки &laquo;Опубликована&raquo;). В правой части информации о заявке есть кнопка &laquo;Изменить условия&raquo;. Изменение условий аналогично порядку отклика на заявку (предыдущий пункт).
                                .content__offer Исполнитель может отменить заявку на исполнение. Это можно сделать до момента выбора заказчиком исполнителя (статус заявки &laquo;Опубликована&raquo;). В правой части информации о заявке есть кнопка &laquo;Отменить заявку на исполнение&raquo;.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как общаться с заказчиком или исполнителем
                                .content__offer Из раздела &laquo;Заявки&raquo; открываем заявку нажатием ссылки &laquo;Читать полностью&raquo;. Из раздела &laquo;Мои заявки&raquo; открываем заявку нажатием кнопки &laquo;Посмотреть&raquo;. Под условиями заявки есть раздел &laquo;Обсуждение заявки&raquo;. Через него вы можете задавать вопросы заказчику / исполнителю, обсуждать с ним условия заявки. Сервис сообщений также доступен через раздел &laquo;Сообщения&raquo; профиля пользователя.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как изменить заявку
                                .content__offer Заказчик может изменить заявку до того, как он выбрал исполнителя (статус &laquo;Опубликована&raquo;). Сделать это можно в разделе &laquo;Мои заявки&raquo; профиля пользователя. На заявке следует нажать ссылку &laquo;Изменить&raquo;.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как удалить заявку
                                .content__offer Заказчик может удалить заявку до того, как он выбрал исполнителя (статус &laquo;Опубликована&raquo;). Сделать это можно в разделе &laquo;Мои заявки&raquo; профиля пользователя. На заявке следует нажать ссылку &laquo;Удалить&raquo;.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как создать заявку
                                .content__offer В разделе &laquo;Заявки&raquo; и &laquo;Мои заявки&raquo; сверху есть кнопка &laquo;Создать заявку&raquo;. После нажатия на неё открывается форма заявки. Вам необходимо выбрать тип заявки, указать место выполнения заявки, язык, срок выполнения (выполнить до), цену, текст заявки, доказательство исполнения. По нажатии на кнопку &laquo;Дополнительные поля&raquo; появляется возможность установить ценз по минимальному рейтингу исполнителя и минимальному количеству выполненных исполнителем заявок. После заполнения нажимаем кнопку &laquo;Сохранить&raquo;. Сохранённую заявку видите только вы. Чтобы заявка стала доступна для поиска исполнителями её нужно опубликовать нажатием на соответствующую кнопку вверху формы редактирования заявки или на заявке в списке &laquo;Мои заявки&raquo;.
                            .col-md-12.col-lg-6
                                .content__title.content__title_heading-4 Как заказчику создать привлекательную заявку
                                .content__offer Пишите заявку простым языком, понятным ребёнку. После описания всех требований перечитайте заявку и мысленно поставьте себя на место исполнителя. Всё ли ясно? Не возникают ли дополнительные вопросы?
                                .content__offer Избегайте двусмысленностей и разночтений.
                                .content__offer Если заявка подразумевает креатив и «творческий полёт фантазии» очертите их границы. Обязательно опишите моменты, которые для вас важны. Не надейтесь на очевидность ситуации. Исполнитель может мыслить иначе, нежели вы.
                                .content__offer Полезно при составлении заявки подумать какие условия могут вызвать спор и избежать его подробно описав.
                                .content__offer Избегайте абстрактных формулировок. Слово «красивый» для каждого человека несёт свой смысл.
                    #performer.tab-pane(role="tabpanel")
                        .row
                            .col-md-12.col-lg-9
                                .content__title.content__title_heading-3 Советы исполнителям для успешной работы
                                .content__offer Перед тем как откликнуться на заявку разъясните имеющиеся неточности. Дьявол кроется в деталях. Вы должны чётко понимать, что нужно сделать, в какой срок, как отчитаться о результате.
                                .content__offer Думайте о заказчике. Если не уверены, что справитесь, лучше отказаться и поискать более подходящие заявки. Некачественный результат принесёт множество неблагоприятных последствий. Во-первых, кому-то будет испорчен праздник (например, если заявка связана с сюрпризом к дню рождения). Во-вторых, недовольство заказчика полученным результатом выльется в понижение рейтинга исполнителя и отрицательный отзыв.
                    #customer.tab-pane(role="tabpanel")
                        .row
                            .col-md-12.col-lg-9
                                .content__title.content__title_heading-3 Как выбрать исполнителя
                                .content__offer Непосредственный выбор можно осуществить одним из двух способов. В информации о заявке справа есть кнопка «Назначить исполнителя». Также, под заявкой справа от заголовка «Обсуждение заявки» имеется ссылка «Выбор исполнителя». Далее в списке, рядом с информацией об исполнителе нажимаем кнопку «Выбрать». В появившейся форме вы можете предложить свою цену заявки. Система автоматически посчитает комиссию и ниже укажет общую сумму с учётом комиссии сервиса. Заказчик путём постановки галочки даёт согласие на выбор данного пользователя исполнителем на указанных условиях. Далее нажимается кнопка «Выбрать исполнителем и оплатить». Заказчик будет переадресован на сайт платёжной системы КИВИ, где необходимо ввести данные банковской карты. После списания денежных средств исполнитель считается выбранным и заявка меняет статус на «Исполняется».
                                .content__offer При выборе исполнителя ориентируйтесь на отзывы других заказчиков и рейтинги исполнителей.
                                .content__offer С помощью системы сообщений вы можете выяснить наличие у претендентов определённых навыков и квалификации, опыта в исполнении аналогичных заявок; достаточность времени и других ресурсов для качественного исполнения.
                    #pay.tab-pane(role="tabpanel")
                        .row
                            .col-md-12.col-lg-9.mb-5
                                .content__title.content__title_heading-3 Какой размер комиссии за использование сервиса
                                .content__offer КИВИ банк (АО) за сервис «Безопасная сделка» взымает комиссию: 3% + 30 рублей В процессе исполнения заявки деньги находятся на счёте КИВИ. 3% снимаются при получении банком, 30 рублей при переводе исполнителю.
                                    | The Wanter получает комиссию 9% от суммы, переведённой заказчиком КИВИ (списывается при переводе исполнителю).
                                    | Общая комиссия от 12,8% до 14,5% + 30 рублей (в зависимости от суммы сделки).
                                    | Указанные комиссии распределяются между заказчиком и исполнителем следующим образом. Заказчик уплачивает комиссию в размере 6.5% от стоимости заявки + 15 рублей (комиссия списывается дополнительно к цене заявки). Комиссия с исполнителя: от 6,3% до 8%, в зависимости от цены заявки (ниже приводится таблица с расчётами комиссии).
                                    | Приведём пример. Цена заявки – 100 рублей. Заказчик уплачивает: 100 рублей + комиссия (6.5% + 15 рублей) = 122 рубля (неполный рубль округляется в большую сторону до целого рубля). Из 122 рублей списываются комиссии ((3% + 30 рублей КИВИ) + 9% thewanter). После принятия исполнителем выполненной заявки исполнитель получает 77,36 рублей.
                                    | Что нужно знать об Арбитраже
                                    | Если арбитраж выигрывает Заказчик и с момента выбора Исполнителя прошло менее 72 часов, Заказчик получает внесённую сумму полностью.
                                    | Если больше 72 часов, то Заказчик, выигравший арбитраж получает внесённую сумму за вычетом комиссии КИВИ (3% от поступившей суммы).
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Срок возвращения денежных средств Заказчику
                                .content__offer Заказчик имеет право отменить размещённую им заявку, по которой выбран Исполнитель. При условии, что с момента внесения денежных средств Заказчиком прошло менее 72 часов – деньги возвращаются незамедлительно. 
                                    | В случае, если с момента внесения денежных средств Заказчиком прошло более 72 часов – деньги возвращаются в течение 30 дней. Фактически, деньги приходят в течение 1-5 дней. 
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как получить деньги за выполненную заявку
                                .content__offer После принятия заказчиком результатов исполнения исполнитель получает соответствующее уведомление. На странице с заявкой справа появляется кнопка &laquo;Получить деньги&raquo;. После нажатия на неё пользователь увидит форму ввода реквизитов банковской карты на которую нужно перечислить деньги. Средства поступают мгновенно.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как производятся расчёты между заказчиком и&nbsp;исполнителем
                                .content__offer Расчёты производятся через сервис «Безопасная сделка» предоставляемый КИВИ Банк (АО). При выборе исполнителя система предлагает заказчику оплатить стоимость заявки и комиссию. Оплата производится по банковской карте (платёжные системы МИР, MasterCard, VISA). Сумма списывается Банком и хранится на его счёте до момента завершения сделки (принятия заказчиком исполнения / принятия заказчиком отказа исполнителя / принятия арбитражем решения). Таким образом исполнителю гарантируется оплата надлежащего исполнения, а заказчику – контроль над оплатой (оплачивается только качественно исполненная заявка).                            
                    #question.tab-pane(role="tabpanel")
                        .row
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как урегулировать спорную ситуацию
                                .content__offer Рекомендуем в первую очередь выяснить позицию противоположной стороны, понять мотивацию и причины поведения. С этой информацией будет легче прийти к общему знаменателю и достигнуть взаимовыгодных договорённостей. Если же договориться не удалось, вы можете обратиться в Арбитраж для разрешения спора.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Что такое арбитраж
                                .content__offer Арбитраж проводит практикующий юрист с опытом работы более 9 лет. Арбитр изучает условия заявки и результаты её исполнения, переписку сторон. По результатам принимается одно из решений: вернуть стоимость заявки Заказчику, либо перевести Исполнителю.&nbsp;Заказчику возвращаются деньги в случае некачественной работы или одностороннего отказа Исполнителя от сделки.
                    #contact.tab-pane(role="tabpanel")
                        .row
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как связаться с администрацией сайта
                                .content__offer В нижнем меню слева есть ссылка «Связаться с нами». Она же доступна через кнопку «Помощь» верхнего меню. По ссылке открывается форма обратной связи, отсылающая ваше сообщение нам на электронную почту. Контактная информация и наши реквизиты доступны через кнопку «Контакты» в верхнем и нижнем меню.
                            .col-md-12.col-lg-6.mb-5
                                .content__title.content__title_heading-4 Как предложить идею или сообщить об ошибке
                                .content__offer В нижнем меню слева есть ссылка «Связаться с нами». Она же доступна через кнопку «Помощь» верхнего меню. По ссылке открывается форма обратной связи, отсылающая Ваше сообщение нам на электронную почту.
        include chunks/footer.pug