html(lang="ru", dir="ltr")
    include chunks/head.pug
    body
        script(src="../js/jquery-3.3.1.min.js")
        include chunks/header_inside.pug

        section.text
            .container
                .row.justify-content-center
                    .col-md-12.col-lg-9
                        h1.mb-4 Заголовок страницы
                    
                        p.small По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                        .slider.mb-5
                            img.img-fluid(src="../img/big_1.jpg")
                            img.img-fluid(src="../img/big_2.jpg")
                            img.img-fluid(src="../img/big_3.jpg")
                            img.img-fluid(src="../img/big_4.jpg")


                        p Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых предложений. С другой стороны рамки и место обучения кадров способствует подготовки и реализации модели развития. Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        p Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.
                        p Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
        
        include chunks/footer.pug